<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jerry Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jerry Chen professional website">
    <title>Jerry Chen - CV</title>
</head>
<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Jerry Chen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
            </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Education</td>
                <td>Carnegie Mellon University, BS in Information Systems</td>
            </tr>
            <tr>
                <td>Experience 1</td>
                <td>IRM @ PNC Bank</td>
            </tr>
            <tr>
                <td>Experience 2</td>
                <td>Tech Consulting @ 4P Consulting</td>
            </tr>
            <tr>
                <td>Experience 3</td>
                <td>Consulting PM @ 180DC</td>
            </tr>
            <tr>
                <td>Experience 4</td>
                <td>Data PM @ SUDS</td>
            </tr>

        </table>
        <p>See my full resume here: <a href="../static/resume.pdf">PDF Version</a></p>
    </div>

    <footer>
        <p>&copy; Jerry Chen Inc. All rights reserved.</p>
    </footer>
</body>
</html>
