<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jerry Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jerry Chen professional website">
    <title>Jerry Chen - Fun</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()"> 
    <header>
        <h1 id="webname">Jerry Chen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html">Fun</a>
        </nav>
    </header>

    <div class="main">
        <button id="showListBtn">Click to see my hobbies</button>
        <ul class="hidden-list">
            <li>Mountaineering</li>
            <li>Urban Exploration</li>
            <li>Playing piano</li>
            <li>Eating food</li>
            <li>Chefing it up</li>
            <img src="../static/elevator.jpeg" width="200">
        </ul>
        <script>
            document.querySelector('.hidden-list').style.display = 'none';
    
            document.getElementById('showListBtn').addEventListener('click', function() {
                const list = document.querySelector('.hidden-list');
                if (list.style.display === 'none') {
                    list.style.display = 'block';
                    this.textContent = 'Click to hide my hobbies'; 
                } else {
                    list.style.display = 'none';
                    this.textContent = 'Click to see my hobbies'; 
                }
            });
        </script>
        </div>

    <footer>
        <p>&copy; Jerry Chen Inc. All rights reserved. Current year: <span id="copyYear"></span></p>
    </footer>
</body> 
</html>