* {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

header {
    color: #2c5f2d;
    background-color: #92ad70;
}

#webname {
    color: #2c5f2d;
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    color: #2c5f2d;
    margin-right: 15px;
}

table {
    width: fit-content;
}

th {
    padding: 12px 0;
    background-color: #2c5f2d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #2c5f2d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

.hidden-list {
    display: none;
}

#showListBtn {
    background-color: #2c5f2d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

#showListBtn:hover {
    background-color: #1e401f;
}
.extended-bio {
    display: none;
}

#readToggle {
    background-color: #2c5f2d;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    margin-top: 10px;
}
}